.jumbotron {
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.purpose * {
    font-family: 'Indie Flower', cursive;
}

.purpose .row {
    min-height: 300px;
}
.purpose .padding {
    min-height: 20px !important;
}
.purpose .left-1 {
    background-color: #ffead0;
}

.purpose .right-1 {
    background-color: #fff3e5;
}

.purpose .left-2 {
    background-color: #fab0c1;
}

.purpose .right-2 {
    background-color: #f76f8e;
}

.purpose .left-3 {
    background-color: #96616b;
}

.purpose .right-3 {
    background-color: #c5a8ae;
}

/* https://stackoverflow.com/questions/32322283/how-to-add-quote-icon-in-bootstrap-glyphicons*/
blockquote {
        border-radius: 4px;

  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


.material-icons.md-48 { font-size: 48px; }

.keyword {
    margin: 3px;
    border-radius: 24px;
}

.topic_quote {
    text-align:center;
}

.blockquote-footer {
    text-align:right;

}

.keyword-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;
        text-align:left;

}

.keyword-row {
    margin-bottom: 10px;
    margin-top: 10px;
}